/* stylelint-disable */
/* stylelint-enable */
:root {
	--color-accent: #3d8cb8;
	--color-accent-rgb: 61, 140, 184;
	--color-sub-accent: #75c5e5;
	--color-sub-accent-rgb: 117, 197, 229;
	--color-base: #f9f6f2;
	--color-base-rgb: 249, 246, 242;
	--color-body: #352111;
	--color-body-rgb: 53, 33, 17;
	--color-gray01: #eceae6;
	--color-gray01-rgb: 236, 234, 230;
	--color-gray02: #d5d3cd;
	--color-gray02-rgb: 213, 211, 205;
	--color-gray03: #838076;
	--color-gray03-rgb: 131, 128, 118;
	--color-error-text: #9d2d0b;
	--color-error-text-rgb: 157, 45, 11;
	--color-clear-text: #3f5d29;
	--color-clear-text-rgb: 63, 93, 41;
	--_background-color: #f9f6f2;
	--_color-text: #352111;
	--header-text-color: #56361c;
	--accent-color: #3d8cb8;
	--dark-accent-color: #377ea6;
	--light-accent-color: #4c99c4;
	--lighter-accent-color: #60a4ca;
	--lightest-accent-color: #74b0d1;
	--sub-accent-color: #75c5e5;
	--dark-sub-accent-color: #58b9e0;
	--light-sub-accent-color: #83cbe8;
	--lighter-sub-accent-color: #91d1ea;
	--lightest-sub-accent-color: #9ed6ed;
	--_color-gray: #838076;
	--_light-color-gray: #eceae6;
	--_lighter-color-gray: #f6f5f3;
	--_lightest-color-gray: #fbfbfa;
}
